<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/before&&after.css">
    <script src="../assets/modernizr.custom.js"></script>

</head>
<body>
<section style="background-color:#435a6b">
<nav class="cl-effect-1" id="cl-effect-1">
    <a href="">Wafture</a>
</nav>
</section>
<section style="background-color:#0e83cd">
    <nav class="cl-effect-2" id="cl-effect-2">
        <a href="">
            <span data-hover="Ratatouille">Ratatouille</span>
        </a>
    </nav>
</section>
</body>
</html>
